name: MacOS-setup-cpp

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: macos-latest
    env:
        CTEST_PARALLEL_LEVEL: 2
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - uses: actions/cache@v4
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}
      - run: brew install boost jemalloc git pipx
      - run: git submodule update --init --recursive
      - name: Set up Python and install cmake-format
        run: pipx install cmakelang
      - name: Setup Cpp
        uses: aminya/setup-cpp@v1
        with:
          compiler: llvm
          vcvarsall: true
          cmake: false
          ninja: true
          cppcheck: true
      - run: sed -i '' \
          's|print-file-name=libc++.modules.json|print-file-name=/opt/homebrew/opt/llvm@20/lib/c++/libc++.modules.json|' \
          /opt/homebrew/share/cmake/Modules/Compiler/Clang-CXX-CXXImportStd.cmake
      - name: no-san
        run: make clang-no-san
      - name: san
        run: make clang-san
